.digits{
  margin-bottom: 100px;
}
.table{
  display: flex;
  justify-content: space-between;
  list-style: none;
 flex-wrap: wrap;
 width: 1100px;
 margin: 60px auto 100px;
}
.table__cell{
 width: 250px;
}
.table__heading{
line-height:1.15;
font-size:24px;
font-weight: bold;
}
.table__text{
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
}
