.techniques{
  padding-top: 400px;
}
.cards{
display: flex;
flex-wrap: wrap;
width: 920px;
margin: 0 auto 100px;
}
.cards__item{
width: 160px;
height: 400px;
margin: 60px 60px;
}
.cards__image{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 0 43px ;

}
.card__title{
  margin: 0 auto 16px;
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
text-align: center;
}
.card__description{
  line-height: 23px;
  font-size:18px;
  font-weight: normal;
  text-align: center;
}
