.video{
  padding-top: 100px;
}
.video__iframes{
 display: flex;
 margin: 0 auto;
 width: 515px;
 height: 316px;
 column-gap: 20px;
 position: relative;
 bottom: -80px;
}
.video__iframe{
  border: none;
}
