.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1700px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  /* parameters for the header section */
}
.logo{
 position: absolute;
 top: 30px;
 left: 64px;
 z-index: 4;
 width: 154px;
 height: 31px;

}
.header__title{
  display: flex;
  align-items: center;
  margin-left: 64px;
  z-index: 3;
  height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;

}
.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 50px;
  z-index: 2;
  height: 25px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
}
.header__link{
  position: absolute;
  text-decoration: none;
  color: #2F80ED;
  left: 64px;
  bottom: 30px;
  z-index: 2;

}
.header__main-ilustration{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 756px;
  height: 608px;
}
.header__square{
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2F80ED;
  width: 568px;
  height: 568px;
  z-index: 0;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
}
.two-collumns{
  display: flex;
  justify-content: space-between;
  margin:  100px auto;
  width: 80%;
  min-width: 784px;
}
.two-collumns__brief{
  width: 80%;
  height: 1.2px;
  color: #2F80ED;
  font-size: 18px;
  font-weight: normal;
  margin-right: 70px;

}
.two-collumns__main-text{
  flex-direction: column;
  height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-collumns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.digits{
  margin-top: 500px;
}
.section-title{
text-align: center;
line-height: 1.15;
font-weight: bold;
font-size: 60px;
}
.section-subtitle{
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: normal;

}
.table{
  display: flex;
  justify-content: space-between;
  list-style: none;
 flex-wrap: wrap;
 width: 1100px;
 margin: 60px auto 100px;
}
.table__cell{
 width: 250px;
}
.table__heading{
line-height:1.15;
font-size:24px;
font-weight: bold;
}
.table__text{
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
}
.feynman{
  height: 790px;
  position: relative;
  background-color: #F2F2F2;
}
.feynman__title{
  position: relative;
  text-align: center;
  width: 775px;
  margin: 0 auto;
  padding-top: 100px;
  line-height:1.15;
  font-size: 120px;
  font-weight:bold;
  z-index: 2;

}
.feynman__subtitle{
  position: relative;
  text-align: center;
  margin-top: 70px;
  line-height:51px;
  font-size:36px;
  font-weight: normal;
  z-index: 3;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right:48px;
  text-decoration: none;
  color: #2F80ED;
  line-height:51px;
  font-size:36px;
  font-weight: normal;
}
.feynman__image{
 position: absolute;
 width: 867px;
 height: 637px;
 left: 0;
 bottom: 0;
 z-index: 1;
}
.kaufman{
  position: relative;
  overflow: hidden;
  background-color: black;
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-title_theme_dark{
 color: white;
 width: 60%;
 margin: 0 auto;
 line-height:1.15;
 font-size:60px;
 font-weight:bold;
}
.section-subtitle_theme_dark{
  color: white;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  line-height:34px;
  font-size:24px;
  font-weight: normal;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 20px;
  z-index: 1;


}
.table__heading_theme_dark{
  line-height:1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark{
  line-height:1.2;
  font-size: 18px;
  font-weight:normal;

}
.kaufman-triangle{
  position: absolute;
  right: -124px;
  top:0;
  z-index: 0;
  width: 656px;
  height: 660px;
}
.footer{
  background-color: black;
  min-height: 350px;
  border: 1px solid black;
}
.footer__collumns{
  display: flex;
  flex-basis: 711px;
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  height:250px;

}
.footer__collumn_content_copyright{
color: white;
}
.footer__collumn_content_about{
  position: absolute;
  right: 500px;

}
.footer__collumn-heading{
color: white;
line-height:30px;
 font-size:18px;
 font-weight:bold;
 margin-bottom: 20px;
}
.footer__list{
color: white;
list-style: none;
padding: 0;
}
.footer__collumn-link{
  line-height:30px;
  font-size:18px;
  font-weight:normal;
  text-decoration: none;
  color: white;
}
.footer__collumn_content_social{
  position: absolute;
  right: 5px;
}
.footer__social-icons{
 width: 16px;
 height: 16px;
 margin-right: 10px;
}
.logo_place_footer{
position: absolute;
width: 183px;
height: 35px;
}
.footer__author{
 color: white;
 position: absolute;
 bottom: 18px;
 left: 0;
 line-height:25px;
 font-size:18px;
 font-weight:normal;
}
