

 @keyframes  rotation{
  from{
    transform:rotate(-15deg);
}
to{
    transform:rotate(360deg);
}
 }
 body{
  margin: 0;
 }
 .page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1700px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.section-title{
text-align: center;
line-height: 1.15;
font-weight: bold;
font-size: 60px;
}
.section-subtitle{
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: normal;
margin-top: -20px;
}
.link{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.link:hover{
 opacity: 0.5;
}

